<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Se agregó una nueva opinión!</p>
    <p>
    Título<br>
    ----------
    </p>
    <p><%= @opinion.title %></p>
    Comentario<br>
    ----------
    </p>
    <p><%= @opinion.comment %></p>
  </body>
</html>