<footer id="footer" class="container-fluid fixed-bottom p-1">
    <div class="container text-left">
        <p><strong>CONTACTO</strong></p>
        <p><i class="fas fa-envelope"></i> laferiaapp21@gmail.com</p>
    </div>
    <div>
        <p>Copyright © 2022 Ferias Libres de Santiago</p>
    </div>

</footer>