// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

body {
font-family: 'Poppins',
sans-serif;
background-image: url('background.jpg');
}

.fairtitle {
    font-weight: 700;
}

#footer {
    background: linear-gradient(to bottom, rgba(26, 95, 78, 0) 0%, rgb(54, 95, 26) 100%);
    width: 100%;
    padding: 30px 0;
    color: #fff;
    display: flex;
    justify-content: center;
}

.navbar {
    background: linear-gradient(to top, rgba(26, 95, 78, 0) 0%, rgb(54, 95, 26) 100%);
    color: #fff;
}

.text-nav {
    text-align: left;
    color: #fff;
}

.btn {
    font-family: 'Poppins';
    font-weight: 200;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    background-size: 400% 400%;
    color: #FFF;
    border: 0;
    opacity: 1;
}

.btn:visited {
    color: #FFF;
}

.fas {
    fill: #fff;
    color: #FFF;
    font-family: 'Poppins';
    font-weight: 200;
}
.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.img {
    height: 450px;
    weight: 600px;
}

.profile {
    height: 100px;
    weight: 100px;
}

.card-header {
    position: relative;
    height: 50px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(54, 95, 26);
    color: white;
    background-blend-mode: overlay;
    opacity: 0.7;
}

.card-body {
    background:#1e2b37;
    opacity: 0.8;
    color: white;
}

.carduser {
    background: #1e2b37;
    opacity: 0.8;
    color: white;
    border-radius: 5%;
}
.formopinion {
    text-align: left;
    background: #1e2b37;
    opacity: 0.8;
    color: white;
    width: 50%;
    border-radius: 5%;
}