// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

body {
font-family: 'Poppins',
sans-serif;
}

.fairtitle {
    font-weight: 700;
}

#footer {
    background: linear-gradient(to bottom, rgba(26, 95, 78, 0) 0%, rgb(54, 95, 26) 100%);
    text-align: center;
    width: 100%;
    padding: 50px 0;
    color: #fff;
}

.navbar {
    background: linear-gradient(to top, rgba(26, 95, 78, 0) 0%, rgb(54, 95, 26) 100%);
    color: #fff;
}

.text-nav {
    text-align: left;
    color: #fff;
}

.btn {
    font-family: 'Poppins';
    font-weight: 200;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    border-radius:100rem;
    background-size: 400% 400%;
    color: #FFF;
    text-transform: uppercase;
    border: 0;
}
.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.img {
    height: 450px;
    weight: 600px;
}

.profile {
    height: 100px;
    weight: 100px;
}

.card-header {
    position: relative;
    height: 175px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(white, .15);
    background-blend-mode: overlay;
}

.card-body {
    background: linear-gradient(45deg, rgb(61, 75, 124), #e9e7e3);
}

