// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

body {
    font-family: 'Lobster', cursive;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.img {
    height: 450px;
    weight: 600px;
}