<p>¡Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te avisamos que tu email se va a cambiar a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te avisamos que tu email se cambió a <%= @resource.email %>.</p>
<% end %>
