<p>¡Hola <%= @resource.email %>!</p>

<p>Recibimos una solicitud para cambiar tu contraseña. Accede al siguiente enlace para cambiarla.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste el cambio, ignora este email.</p>
<p>Tu contraseña no se actualizará hasta que accedas al enlace anterior y generes una contraseña nueva.</p>
